@media only screen and (max-width: 680px) {
	.box {
    margin: 300px 0px 30px 0px;
    width: 100%;
	}

	.itext {
		font-size: 1em;
	}

	.location {
		text-align: center;
		margin: 0 auto;
		position: relative;
	}

	nav ul li a{
		font-size: 1rem;
	}
}

@media only screen and (max-width: 400px) {

	nav ul li a{
		font-size: 0.6rem;
	}

}