.header{
    text-align: center;
    color:white;
    margin-top: 150px;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}
.footer i{
    color: #FF006C;
    padding-left: 10px;
}
.footer:hover {
    cursor: pointer;
}
.footer {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;   
}
.p-container:hover {
    background-color: darkgrey;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.4;
}
.mtext {
    text-align: center;   
}

.sub-mtext {
    text-align: center;   
}
.carousel img{
    max-width: 300px;
    max-height: 150px;
}
.active {
    border-bottom: 4px solid #FF006C;
}
i {
    color: #FF5733;
}
.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 2em;
    padding-left: 10px;
    color: #581845;

}

.fixed {
    position:fixed;
    top:0;
    z-index: 25;
    width: 87.5%;
    background-color: white ;
    border-bottom: 1px solid black;
    font-size: 1rem;


    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;

}

.menu-box {
    
}
nav {
    color: white;
    background: white;
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 12px 16px;
    border-bottom: 4px solid white;
    
}

nav ul li a {
    text-decoration: none;
    padding: 12px 16px;

}
nav ul li:active {
    border-bottom:  4px solid green;
}

nav ul li:hover {
    border-bottom:  4px solid #AEAEAE;
}

body {
    background-image: url('https://raw.githubusercontent.com/purplecandy/aezakmi/master/assets/Lift.jpg');
    height: 100%;
}
.box {
    margin: 300px 90px 30px 90px;
}

.deck {
    background: white;
    margin-top: -25px;
    padding-top: 10px;
}

h1.itext {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 100;
    line-height: 0px;
}

.itext-2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    line-height: 0px;
    
}

.itext-2::before {
    background-color: grey;
    display: block;
    content: '';
    left: 0;
    top: 50%;
    height: 2px;
    width: 10px;
}
.itext-2::after {
    background-color: grey;
    display: block;
    content: '';
    right: 0;
    top: 50%;
    height: 2px;
    width: 10px;
}
.seprator {
    width: 100%;
    text-align: center;
}

.location
{
  opacity:0;
  background-color:#FF006C;
  color:white;
  border-radius:4px;
  padding:8px 12px;
  text-align:center;
  width: 100px;
}

.map {
    background-image: url("https://airiefvision.files.wordpress.com/2015/09/mime-attachment45.jpg");
    background-size: cover;
}

.map i {
    color: white;
}

